<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li><a href="/user">Manage Users</a></li>
  <li class="active">Delete</li>
</ol>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Delete User</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/delete" method="POST">
            <input type="hidden" name="userId" value="{{user._id}}">
            <div class="form-group">
                <label>Name</label>
                <p>{{user.name}}</p>
                
            </div>
            <div class="form-group">
                <label>Username</label>
                <p>{{user.email}}</p>
            </div>

            <p>Are you sure you want to delete ?</p>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="/user" class="btn btn-default">Cancel</a>
        </form>
    </div>

</div>
