<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Event Initials</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" >2</button>
            <p>Event Fields</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" >3</button>
            <p>Badge Categories</p>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Step 3 - Badge Categories</h4>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

        <a href="/event/badge-category-create" class="btn btn-primary">Add New</a>&nbsp;
        

        <form action="/event/badge-categories" method="POST">
            
            
            <table class="table">
                <thead>
                <tr>
                    <th>Category</th>

                    <th></th>
   
                </tr>
                </thead>
                <tbody>
                    {{#each badgecategories}}
                        <tr>
                            <td>{{this.desc}}</td>

                            <td>

                                <a href="/event/badge-category-edit/{{this._id}}" style="margin-left: 20px; width:80px" class="btn btn-primary pull-right" >Edit</a>
                                <a href="/event/badge-category-delete/{{this._id}}" style="width:80px" class="btn btn-danger pull-right" >Delete</a>
                            </td>
                        </tr>

                    {{/each}}
                </tbody>

            </table>

            <input type="submit" value="Finish" style="width:100px" class="btn btn-success pull-right">
            <a href="/event/event-fields/{{session.eventId}}" style="width:100px" class="btn btn-primary">Previous</a>

        </form>
    </div>

</div>

  