<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li class="active">Event Setup</li>
</ol>

<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Event Initials</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" >2</button>
            <p>Event Fields</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">3</button>
            <p>Badge Categories</p>
        </div> 
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" >4</button>
            <p>Badge Layout</p>
        </div>         
    </div>
</div>

<div class="row">
    <form id="form1" action="/event/badge-layout" method="POST">

    <div class="col-md-4">
        <h4>Step 4 - Badge Layout</h4>
        <div class="form-group">
            <label>Font Family</label>
            <select id="fontFamily" class="form-control">
                <option value="Arial" selected="selected">Arial</option>
                <option value="Calibri">Calibri</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Courier New">Courier New</option>
                <option value="Georgia">Georgia</option>
                <option value="Impact">Impact</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Verdana">Verdana</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Lucida Sans">Lucida Sans</option>
                <option value="Broadway">Broadway</option>
                <option value="Cooper Black">Cooper Black</option>
                <option value="Arabic Typesetting">Arabic Typesetting</option>
                <option value="Simplified Arabic">Simplified Arabic</option>
                <option value="Traditional Arabic">Traditional Arabic</option>
            </select>
        </div>

        <div class="form-group">
            <label>Font Size</label>
            <select id="fontSize" class="form-control">
                <option value="11" selected="selected">11</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
                <option value="72">72</option>
                <option value="84">84</option>
            </select>
        </div>

        <div class="form-group">
            <label>Font Weight</label>
            <select id="fontWeight" class="form-control">
                <option value="normal" selected="selected">normal</option>
                <option value="bold">bold</option>
            </select>
        </div>

        <div class="form-group">
            <label>Font Style</label>
            <select id="fontStyle" class="form-control">
                <option value="normal" selected="selected">normal</option>
                <option value="italic">italic</option>
            </select>
        </div>

        <div class="form-group">
            <label>Text Align</label>
            <select id="textAlign" class="form-control">
                <option value="left" selected="selected">left</option>
                <option value="center">center</option>
                <option value="right">right</option>
            </select>
        </div>

        <a href="/event/badge-categories/{{session.eventId}}" style="width:100px" class="btn btn-primary">Previous</a>&nbsp;&nbsp; 
        <input type="button" onclick="testPrint()" value="Test Print" style="width: 100px" class="btn btn-info ">&nbsp;&nbsp;       
        <input type="button" onclick="finish()" value="Finish" style="width: 100px" class="btn btn-success">

    </div>
    <div class="col-md-8">
        
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        
        <input type="hidden" name="eventIdForPrint" id="eventIdForPrint" value="{{eventIdForPrint}}">
        <input type="hidden" name="action" id="action" >

        {{#each fields}}
        <input type="hidden" name="{{this.fieldName}}_top" id="{{this.fieldName}}_top">
        <input type="hidden" name="{{this.fieldName}}_left" id="{{this.fieldName}}_left">
        <input type="hidden" name="{{this.fieldName}}_width" id="{{this.fieldName}}_width">
        <input type="hidden" name="{{this.fieldName}}_fontFamily" id="{{this.fieldName}}_fontFamily">
        <input type="hidden" name="{{this.fieldName}}_fontSize" id="{{this.fieldName}}_fontSize">
        <input type="hidden" name="{{this.fieldName}}_fontWeight" id="{{this.fieldName}}_fontWeight">
        <input type="hidden" name="{{this.fieldName}}_fontStyle" id="{{this.fieldName}}_fontStyle">
        <input type="hidden" name="{{this.fieldName}}_textAlign" id="{{this.fieldName}}_textAlign">
        {{/each}}

        <!-- A5 paper size -->
        <!--
            Equivalent A5 paper dimensions in pixels at 300 DPI and 72 DPI respectively are: 
            1748 pixels x 2480 pixels (print resolution) 
            420 pixels x 595 pixels (screen resolution)
        -->
        <canvas id="badgeCanvas" width="400" height="400" style="border: 1px solid black;"></canvas>
        
        {{#if showBarcode}}
        <img id="barcode" src="/images/barcode.png" style="display: none" >
        <input type="hidden" name="barcode_top" id="barcode_top">
        <input type="hidden" name="barcode_left" id="barcode_left">
        {{/if}}


            
        
    </div>
    </form>
</div>


<script src="/library/jquery-3.3.1.min.js"></script>
<script src="/library/fabric.min.js"></script>
<script src="/library/JsBarcode.all.min.js"></script>

<script>

    {{#if session.eventIdForPrint}}
        window.open('/event/print-badge-layout/', '_blank', '');
    {{/if}}

var fields = [];
var canvas = new fabric.Canvas('badgeCanvas');


canvas.on('mouse:down', function(options) {
  if (options.target) {
    console.log('an object was clicked! ', options.target.left);
    $('#fontFamily').val(options.target.fontFamily);
    $('#fontSize').val(options.target.fontSize);
    $('#fontWeight').val(options.target.fontWeight);
    $('#fontStyle').val(options.target.fontStyle);
    $('#textAlign').val(options.target.textAlign);
  }
});


$('#fontFamily').on('change', function(){
    if(canvas.getActiveObject()){
        
        canvas.getActiveObject().set("fontFamily", this.value);
        canvas.renderAll();
    }
    else {
        alert('Please select an item on the canvas first');
    }
});

$('#fontSize').on('change', function(){
    if(canvas.getActiveObject()){
        
        canvas.getActiveObject().set("fontSize", this.value);
        canvas.renderAll();
    }
    else {
        alert('Please select an item on the canvas first');
    }
});

$('#fontWeight').on('change', function(){
    if(canvas.getActiveObject()){
        
        canvas.getActiveObject().set("fontWeight", this.value);
        canvas.renderAll();
    }
    else {
        alert('Please select an item on the canvas first');
    }
});

$('#fontStyle').on('change', function(){
    if(canvas.getActiveObject()){
        
        canvas.getActiveObject().set("fontStyle", this.value);
        canvas.renderAll();
    }
    else {
        alert('Please select an item on the canvas first');
    }
});

$('#textAlign').on('change', function(){
    if(canvas.getActiveObject()){
        
        canvas.getActiveObject().set("textAlign", this.value);
        canvas.renderAll();
    }
    else {
        alert('Please select an item on the canvas first');
    }
});

var finish = function() {
    $('#action').val('finish');
    submitForm();
}

var testPrint = function(){
    $('#action').val('testprint');
    submitForm();
}

var submitForm = function(){
    
    //$('#fullName_top').val(txtFullName.top);
    //$('#fullName_left').val(txtFullName.left);
    //$('#fullName_width').val(txtFullName.width);

    for(var i=0; i<fields.length; i++){
        $('#' + fields[i] + '_top').val(canvas.item(i).top);
        $('#' + fields[i] + '_left').val(canvas.item(i).left);
        
        if(fields[i]!='barcode'){
            $('#' + fields[i] + '_width').val(canvas.item(i).width);
            $('#' + fields[i] + '_fontFamily').val(canvas.item(i).fontFamily);
            $('#' + fields[i] + '_fontSize').val(canvas.item(i).fontSize);
            $('#' + fields[i] + '_fontWeight').val(canvas.item(i).fontWeight);
            $('#' + fields[i] + '_fontStyle').val(canvas.item(i).fontStyle);
            $('#' + fields[i] + '_textAlign').val(canvas.item(i).textAlign);
        }
    }

    $('#form1').submit();
};

$(document).ready(function(){



    /*
    JsBarcode("#barcode", "19299259221626", {
    format: "CODE128",
    width: 1,
    height:40,
    margin: 5,
    textMargin: 0,
    fontSize: 10,
    displayValue: true
    });
    */
    
    var topIndex=0;

    {{#each fields}}
    topIndex = {{@index}};

    var {{this.fieldName}} = new fabric.Textbox('{{toUpperCase this.fieldLabel}}', {
        left: {{this.fieldLeft}},
        top: {{this.fieldTop}},
        width: {{this.fieldWidth}},
        angle: 0,
        opacity: 1,
        fontFamily: '{{this.fieldFontFamily}}',
        fontSize: {{this.fieldFontSize}},
        fontWeight: '{{this.fieldFontWeight}}',
        fontStyle: '{{this.fieldFontStyle}}',
        textAlign: '{{this.fieldTextAlign}}'
        });

    canvas.add({{this.fieldName}}); 
    fields.push('{{this.fieldName}}');

    {{/each}}

    {{#if showBarcode}}
        topIndex = topIndex + 100;
        var imgElement = document.getElementById('barcode');
        var imgInstance = new fabric.Image(imgElement, {
        left: {{barcodeLeft}},
        top: {{barcodeTop}},
        angle: 0,
        opacity: 1
        });
        canvas.add(imgInstance);
        fields.push('barcode');
    {{/if}}

});

      
</script>