<div class="row">
    <div class="col-md-12">
        <h1>Badge Categories</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

        <a href="/event/badge-category-create" class="btn btn-primary">Add New</a>&nbsp;
        <a href="/event/edit/{{session.eventId}}" class="btn btn-default">Back</a>&nbsp;

        <form action="/event/event-fields" method="POST">
            
            
            <table class="table">
                <thead>
                <tr>
                    <th>Category</th>

                    <th>Actions</th>
   
                </tr>
                </thead>
                <tbody>
                    {{#each badgecategories}}
                        <tr>
                            <td>{{this.desc}}</td>

                            <td>

                                <a href="/event/badge-category-edit/{{this._id}}" class="btn btn-primary" >Edit</a> | 
                                <a href="/event/badge-category-delete/{{this._id}}" class="btn btn-danger" >Delete</a>
                            </td>
                        </tr>

                    {{/each}}
                </tbody>

            </table>

        </form>
    </div>

</div>

      <script>

  </script>