<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li class="active">Export File</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h1>Export</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}

  
            <table class="table">
                <thead>
                <tr>
                    <th>Filename</th>
                    <th>Creation Date</th>
                    <th>Row Count</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {{#each files}}
                        <tr>
                            <td>{{this.filename}}</td>
                            <td>{{formatDate this.creationDate 'custom2'}}</td>
                            <td>{{this.rowCount}}</td>
                            <td>{{#if this.isCompleted}}Completed{{else}}Processing{{/if}}</td>
                            <td>
                                {{#if this.isCompleted}}
                                    <a href="/uploads/Report.xlsx" class="btn btn-primary" >Download</a>
                                    <a href="/user/delete/{{this._id}}" class="btn btn-danger" >Delete</a>
                                {{/if}}
                            </td>
                        </tr>

                    {{/each}}
                </tbody>

            </table>

    </div>

</div>
