<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/event/register" method="POST">
            
           
            
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" name="fullName" value="{{eventData.fullName}}"  class="form-control">
            </div>
            
            <div class="form-group">
                <label>Country</label>
                <select class="form-control" id="country" name="country">
                   
                    {{option countries eventData.country}}
                </select>
            </div>

            <div class="form-group">
                <label>Badge Categories</label>
                <select class="form-control" id="badgeCategory" name="badgeCategory">
              
                    {{option badgeCategories eventData.badgeCategory}}
                </select>
            </div>

            <input type="submit" class="btn btn-success" value="Save">
            <a href="/event/visitors/{{eventData.event}}" class="btn btn-default">Cancel</a>
        </form>
    </div>

</div>